= form_with model: @article , local: true do |form|
  = form.label :headline
  %br
  = form.text_field :headline
  %br
  = form.label :content
  %br
  = form.text_field :content
  %br
  = form.collection_select :category_id, @categories, :id, :name
  %br
  = form.submit 'Save Article'
