%h2 Create New Article

= form_with model: @article , local: true do |form|
  = form.label :headline
  %br
  = form.text_field :headline
  %br
  = form.label :content
  %br
  = form.text_field :content
  %br
  = form.label :category
  %br
  = form.select(:category_id, Category.all.collect {|u| [u.name, u.id]}, prompt: 'Select')
  %br
  = form.submit 'Save Article'
