- if user_signed_in?
  = "Signed in as: #{current_user.role.capitalize} (#{current_user.email}) |"
  = link_to("Create Article", new_article_path) + "|" if policy(Article).new?
  = link_to "Sign Out", destroy_user_session_path, method: :delete
- else
  = link_to "Sign In", new_user_session_path
  |
  = link_to "Sign Up", new_user_registration_path
