- if user_signed_in?
  = "Signed in as: #{current_user.role.capitalize} (#{current_user.email}) |"
  = link_to(t('navbar.create'), new_article_path) + " |" if policy(Article).new?
  = link_to t('navbar.sign_out'), destroy_user_session_path, method: :delete
- else
  = link_to t('navbar.sign_in'), new_user_session_path
  |
  = link_to t('navbar.sign_up'), new_user_registration_path

|
- if I18n.locale != I18n.default_locale
  = link_to t("navbar.language_en"), { locale: 'en' }
- else
  = link_to t("navbar.language_sv"), { locale: 'sv' }
